@import "tailwindcss";

/* .leaflet-marker-icon.custom-fixed-icon {
  width: 34px !important;
  height: 34px !important;
  max-width: none !important;
  max-height: none !important;
  transform: none !important; 
} */


.custom-div-icon {
  background: transparent;
  border: none;
}

.custom-div-icon img {
  width: 34px !important;
  height: 34px !important;
}